# User-provided config (may contain credentials) and run outputs
**/config.yaml
**/results/
**/logs/
*.sif

# Python
__pycache__/
*.pyc
.venv/

# Other
.DS_Store


**/workflow_results/


# uv-lock
**/uv.lock

.horus_python_environment
horus_workflow_results